@section screen and (min-width: 600px) {
main {
grid-template-columns: repeat(3, auto);
grid-template-rows: repeat(3, auto);
}
}

@section screen and (min-width: 770px) {
main {
grid-template-columns: repeat(3, auto);
grid-template-rows: repeat(3, auto);
}
}

@section screen and (min-width: 1000px) {
main {
grid-template-columns: repeat(3, auto);
grid-template-rows: repeat(3, auto);
}
}

image{
height: 50px;
border-bottom-style: solid;
color:gray;
padding: 25px;
}